body > header
{
    background-color: #046dd5;
}

nav li:nth-child(1)
{
    border-top: 0.3em solid #E1493E;
}

nav li:nth-child(2)
{
    border-top: 0.3em solid #8ABA56;
}

nav li:nth-child(3)
{
    border-top: 0.3em solid #5B4282;
}

nav li:nth-child(4)
{
    border-top: 0.3em solid #FF8932;
}

nav li:nth-child(5)
{
    border-top: 0.3em solid #19B6E9;
}
nav li:nth-child(6)
{
    border-top: 0.3em solid #E84C8B;
}

*
{
    font-family: Verdana;
    text-decoration: none;
}

p
{
    font-family: Georgia;
}

.comments:after
{
    content: ' comments';
}

footer
{
    background-color: #f4655f;
    color: #ffffff
}

.author:before
{
    content: 'By '
}

body > footer
{
    background-color: #2A2F33;
    
}

#menu
{
    text-align: center;
}



/* Needs to be reworked

body > header > h1 > a
{
    color: #ffffff
}

nav a
{
    color: #000000;
}



header *
{
    text-decoration: none;
    color: #ffffff;
}

header > h1 > a
{
    color: black
}

nav > label,nav > input
{
    display: none;
}

aside *
{
    text-decoration: none;
    color: #ffffff;
}

aside
{
    background-color: #2A2F33;
}

nav a
{
    text-decoration: none;
}

footer *
{
    color: #ffffff;
}*/



