html
{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-color: #ead6ea;
}

#header
{
    color: white;
    background-color:#1A5FAE;
}

#header > h1
{
    margin: 0;
    padding: 2em;
}

#header > h2
{
    transform: rotate(90deg);
    background-color: #1A5FAE;
    float: left;
    position: relative;
    left: -17em;
    bottom: -10em;
    padding: 0.3em 12em 0.3em 12em;
    margin: 0;
}

#menu > ul
{
    background-color: #00b400;
    width: 20%;
    height: 110em;
    float: right;
}

#menu > ul > li
{
    list-style-type: none;
    margin: 2em;
}

#menu > ul > li > a
{
    text-decoration: none;
    color:white
}

#menu ~ div
{
    background-color: white;
    width: 70%;
}

.news-item > img
{
    float: left;
}